/**
 * Copyright (c) 2024 Rahul Arasikere <arasikere.rahul@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <freq.h>
#include <arm/armv7-r.dtsi>
#include <zephyr/dt-bindings/interrupt-controller/ti-vim.h>

/ {

    chosen {
        zephyr,flash = &flash0;
        zephyr,sram = &sram0;
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu@0 {
            compatible = "arm,cortex-r5f";
            reg = <0>;
        };
    };

    sram0: memory@8000000 {
        compatible = "mmio-sram";
        reg = <0x08000000 DT_SIZE_K(512)>;
    };

    flash0: serial-flash@0 {
        compatible = "soc-nv-flash";
        reg = <0x0 DT_SIZE_M(4)>;
    };

    sys1: system-control@ffffff00 {
        compatible = "syscon";
        reg = <0xffffff00 252>;
    };

    sys2: system-control@ffffe100 {
        compatible = "syscon";
        reg = <0xffffe100 256>;
    };

    pcr1: peripheral-control@ffff1000 {
        compatible = "syscon";
        reg = <0xffff1000 1504>;
    };

    pcr2: peripheral-control@fcff1000 {
        compatible = "syscon";
        reg = <0xfcff1000 1504>;
    };

    pcr3: peripheral-control@fff78000 {
        compatible = "syscon";
        reg = <0xfff78000 1504>;
    };

    esm: error-signaling-module@fffff500 {
        compatible = "syscon";
        reg = <0xfffff500 100>;
    };

    clocks {
        oscin: oscin {
            compatible = "fixed-clock";
            clock-frequency = <DT_FREQ_M(16)>;
            #clock-cells = <0>;
            status = "okay";
        };

        ext_clkin1: ext_clkin1 {
            compatible = "fixed-clock";
            clock-frequency = <DT_FREQ_M(8)>;
            #clock-cells = <0>;
            status = "disabled";
        };

        ext_clkin2: ext_clkin2 {
            compatible = "fixed-clock";
            clock-frequency = <DT_FREQ_M(16)>;
            #clock-cells = <0>;
            status = "disabled";
        };

        pll1: pll1 {
            #clock-cells = <0>;
            compatible = "ti,hercules-pll-clock";
            status = "disabled";
        };

        pll2: pll2 {
            #clock-cells = <0>;
            compatible = "ti,hercules-pll-clock";
            status = "disabled";
        };

        lf_lpo: lf_lpo {
            #clock-cells = <0>;
            compatible = "ti,hercules-lpo-clock";
            status = "okay";
        };

        hf_lpo: hf_lpo {
            #clock-cells = <0>;
            compatible = "ti,hercules-lpo-clock";
            status = "okay";
        };
    };

    soc {

        gcm: clock-control {
            compatible = "ti,hercules-gcm";
            #clock-cells = <2>;
        };

        pinctrl: pinctrl@ffff1c00 {
            reg = <0xffff1c00 0x3ff>;
            compatible = "ti,hercules-iomm";
        };

        gpio-controller@fff7bc00 {
            reg = <0xfff7bc00 0x30>;
            compatible = "ti,hercules-gio";

            #address-cells = <1>;
            #size-cells = <1>;

            gioa: gpio@fff7bc34 {
                reg = <0xfff7bc43 0x20>;
                compatible = "ti,hercules-gio";
            };

            giob: gpio@fff7bc54 {
                reg = <0xfff7bc54 0x20>;
                compatible = "ti,hercules-gio";
            };

            giosci1: gpio@fff7e440 {
                reg = <0xfff7e440 0x20>;
                compatible = "ti,hercules-gio";
            };

            giosci2: gpio@fff7e640 {
                reg = <0xfff7e640 0x20>;
                compatible = "ti,hercules-gio";
            };

            giosci3: gpio@fff7e540 {
                reg = <0xfff7e540 0x20>;
                compatible = "ti,hercules-gio";
            };

            giosci4: gpio@fff7e740 {
                reg = <0xfff7e740 0x20>;
                compatible = "ti,hercules-gio";
            };

            giomibspi1: gpio@fff7f418 {
                reg = <0xfff7f418 0x20>;
                compatible = "ti,hercules-gio";
            };

            giomibspi2: gpio@fff7f618 {
                reg = <0xfff7f618 0x20>;
                compatible = "ti,hercules-gio";
            };
            giomibspi3: gpio@fff7f818 {
                reg = <0xfff7f818 0x20>;
                compatible = "ti,hercules-gio";
            };
            giomibspi4: gpio@fff7fa18 {
                reg = <0xfff7fa18 0x20>;
                compatible = "ti,hercules-gio";
            };
            giomibspi5: gpio@fff7fc18 {
                reg = <0xfff7fc18 0x20>;
                compatible = "ti,hercules-gio";
            };

            giohet1: gpio@fff7b84c {
                reg = <0xfff7b84c 0x20>;
                compatible = "ti,hercules-gio";
            };

            giohet2: gpio@fff7b94c {
                reg = <0xfff7b94c 0x20>;
                compatible = "ti,hercules-gio";
            };

            gioi2c1: gpio@fff7d44c {
                reg = <0xfff7d44c 0x20>;
                compatible = "ti,hercules-gio";
            };

            gioi2c2: gpio@fff7d54c {
                reg = <0xfff7d54c 0x20>;
                compatible = "ti,hercules-gio";
            };

            giortp: gpio@fffffa38 {
                reg = <0xfffffa38 0x20>;
                compatible = "ti,hercules-gio";
            };
        };

        vim: interrupt-controller@fffffd00 {
            #address-cells = <0>;
            #interrupt-cells = <4>;
            reg = <0xfffffd00 0x200>;
            compatible = "ti,vim";
            interrupt-controller;
            status = "okay";
        };

        rti: rti@fffffc00 {
            reg = <0xfffffc00 0xbc>;
            interrupts = <0 2 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY
            0 3 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY
            0 4 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY
            0 5 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY
            0 6 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY
            0 7 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY
            0 8 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
            interrupt-names = "rti0",
                              "rti1",
                              "rti2",
                              "rti3",
                              "rti_overflow0",
                              "rti_overflow1",
                              "rti_timebase1";
            compatible = "ti,hercules-rti-timer";
            interrupt-parent = <&vim>;
            status = "okay"; /* the system clock timer is mandatory */
        };
    };
};
